.ant-btn-custom {
    background-color: #1A1341 !important; /* Primary button color */
    border-color: #1A1341 !important;     /* Border color */
    border-radius: 5px !important;     /* Border color */
    color: #fff !important;              /* Text color */
    font-weight: 500 !important;         /* Font weight for button text */
}

.ant-btn-custom:hover,
.ant-btn-custom:focus {
    background-color: #1A1341 !important; /* Darker shade for hover */
    border-color: #1A1341 !important;
}